page-company-check {
  .card{
    margin-bottom: 10px;
  }
  .button2{
    background-color: #ffa100;
    width: 100px;
    height: 30px;
    float: right;
    position: absolute;
    right: 30px;
    top: 70px;
    margin-bottom: 20px;
  }
  i{
    color: red;
    font-size: 1.2em;
    margin-right: 5px;
  }
  .button1{
    background-color: #F8F8F8;
    width: 60px;
    height: 40px;
    display: block;
  }
  .btn{
    background-color:#ffa100 ;
    width: 100px;
    height: 30px;
    float: right;
    margin-top: -30px;
  }

  #li01{
    margin-right: 150px;
    float: right;
    position: relative;
    top: -20px;
  }
  #li02{
    //margin-right: 140px;
    //margin-bottom: 20px;
    margin-top: 10px;

    float: left;
    position: relative;
    left:90px;
    top: -18px;
    background-color: #ffb308;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
  }
  #li03{
    top:10px;
    float: left;
    position: relative;
    left: 12px;
    background-color: #ffb308;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
  }



}
