.box{
    width: 744px;
    height: 160px;
    margin: 0 auto;
    margin-top:18px;
}
.myimg{
    float: left;
    width: 613px;
    height: 160px;
    background-image: url('./../images/bigpic1.JPG');
}
.smallpic{
    float: left;
    width:130px;
    height: 160px;
}
.smallpic>div{
    width: 127px;
}
.smallpic .smallpic1{
    background-image: url('./../images/border.png');
}
.smallpic>div>img{
    margin-top:3px;
    margin-left:10px ;
}
