page-login-out {
  .btn{
    margin-left: 50px;
    margin-right: 60px;
    background-color: #f7ad64;
    width: 300px;
    text-align: center;
    padding-right: 25px;
  }
  .button1{
    background-color: #F8F8F8;
    width: 60px;
    height: 40px;
    display: block;
  }

}
