page-regist {
  .login-title{
    font-size: 2em;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 2em;
    color: #fd911d;
  }
  .error-message{
    color: red;
  }
  .btn {
    background-color: #ffad10;
    margin-top: 20px;
  }
}
