page-me {
  .title{
    background:url("../../assets/img/300.jpg");
    line-height: 50px;
  }
  .title_img img{
    width:75px;
    height:75px;
    line-height: 0;		/* remove line-height */
    display: inline-block;	/* circle wraps image */
    border-radius: 50%;	/* relative value */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: linear 0.25s;
    margin-top: 30px;
    margin-left: 15px;

  }
   #span1{
    float: right;
    overflow: hidden;
    margin-right: 240px;
    //position: absolute;
    margin-top: 40px;
    //margin-right: 200px;
  }
  #span2{
    float: right;
    margin-top: 50px;
    margin-right: 210px;
  }

}
