page-user-add-position {
  .form span{
    margin-left: 20px;
    font-size: 1.3em;
    line-height: 52.5px;
  }
  .select{
    background-color: white;
    border: none;
    width: 100%;
    font-size: 1em;
    text-align: left;

  }
  .btn{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f7ad64;
    width: 300px;
    text-align: center;
    padding-right: 63px;
  }
  .button1{
    background-color: #F8F8F8;
    width: 60px;
    height: 40px;
    display: block;
  }

}
