page-helpd {
  .button1{
    background-color: #F8F8F8;
    width: 60px;
    height: 40px;
    display: block;
  }
  .div-help1 span{
    font-weight: 600;
  }
  .div-help1 p{
    color: #4c4c4c;
  }
}
