page-contact {
.div-c{
  width: 70px;
  height: 80px;
  margin-left: 20%;
  margin-top: 5%;
}
  .div-c img{
    width: 60px;
    height: 50px ;
  }
  .din-d{
    float: right;
    overflow: hidden;
    width: 70px;
    height: 80px;
    margin-right:20%;
    margin-top: -20%;
  }
  .div-d img{
    width: 60px;
    height: 50px ;
  }
  .header-aa{
    color: #4c4c4c;
    font-size: 15px;
    //font-weight: 600;
    padding: 20px;
  }
  .a-aa{
    float: right;
    overflow: hidden;
    //color: #d9d9d9;
    //font-size: 20px;
    //margin-left:-100px;
  }
  .div-body-a{
    margin-top: -10px;
    width: 100%;
    margin-left: -18px;
  }
.div-body-a ul li{
  width: 200px;
  width: 50%;
  height: 180px;
  padding: 10px;
}
  .div-body-a ul li{
    float: left;
    overflow: hidden;
  }
  li{
    list-style: none;
  }




}
